//Snapshot @SNAPSHOT_NUMBER@ - @SNAPSHOT_LABEL@
comment: @SNAPSHOT_COMMENT@
protocol: efi
path: ${EFI_LINUX}/margine-recovery.efi
cmdline: root=UUID=@ROOT_UUID@ rd.luks.name=@LUKS_UUID@=cryptroot rootfstype=btrfs rootflags=subvol=@SNAPSHOT_SUBVOLUME@ ro quiet systemd.unit=multi-user.target
