[Desktop Entry]
Name=Bluetooth Manager
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=sh -lc "exec \"\\$HOME/.local/bin/gtk-dark-exec\" blueman-manager"
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
