[Desktop Entry]
Name=Bluetooth Manager
Comment=Blueman Bluetooth Manager
Icon=blueman
Exec=gtk-dark-exec blueman-manager
Terminal=false
Type=Application
Categories=Settings;HardwareSettings;
StartupNotify=true
