[Desktop Entry]
Name=NetworkManager Applet
Comment=Manage your network connections
Icon=nm-device-wireless
Exec=gtk-dark-x11-exec nm-applet
Terminal=false
Type=Application
Categories=Settings;Network;
StartupNotify=true
NoDisplay=false
