[Desktop Entry]
Name=Network Tray Menu
Comment=Open the NetworkManager tray menu
Icon=nm-device-wireless
Exec=/home/daniel/.local/bin/open-network-applet-menu
Terminal=false
Type=Application
Categories=Settings;Network;
StartupNotify=true
NoDisplay=false
