[Desktop Entry]
Name[it]=Configurazione di rete avanzata
Name=Advanced Network Configuration
Comment[it]=Gestisce e cambia le impostazioni della connessione di rete
Comment=Manage and change your network connection settings
Icon=preferences-system-network
Exec=/home/daniel/.local/bin/gtk-dark-exec nm-connection-editor
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;X-GNOME-NetworkSettings;X-GNOME-Utilities;Settings;Network;
Keywords=network;connections;advanced;networkmanager;nm-connection-editor;wifi;ethernet;
NoDisplay=false
