[terminal]
vt = 1

[general]
source_profile = true

[default_session]
command = "tuigreet --time --remember --remember-session --asterisks --window-padding 2 --container-padding 2 --prompt-padding 1 --cmd /usr/bin/start-hyprland"
user = "greeter"

__MARGINE_INITIAL_SESSION_BLOCK__
